<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/css/article.css">
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
    <div id="container_demo" >
    <div id="wrapper">
        <div id="login" class="animate form">
            <form action="{% url 'login'%}" method="POST">
                {% csrf_token %}
                <h1>Log in</h1>
                 <p>{{ form.errors }}</p>
                <p>
                    <label for="username" class="uname" data-icon="u" > Input your email or username </label>
                    <input id="username" name="username" required="required" type="text" placeholder="Логин"/>
                </p>
                <p>
                    <label for="password" class="youpasswd" data-icon="p"> Input your password </label>
                    <input id="password" name="password" required="required" type="password" placeholder="Пароль" />
                </p>
                <p class="login button">
                    <input type="submit" value="Login" />
                </p>
            </form>
        </div>
    </div>
</div>
    <p class="error"> {{ form.error }} </p>
</body>
</html>





